<div class="mt-2 ml-3">
<div class="jumbotron text-center">
  <button class="btn btn-danger pull-right" (click)="logout()">{{'logout'|translate}}</button>
  <h1>{{postTitle}}</h1>
  <h3>{{'postedby' |translate}}:  {{viewPostBy}}</h3>
  <h4>{{'postedon'|translate}}:  {{viewPoston | date:'medium'}}</h4>
</div>
<div class="panel panel-default">
  <div class="panel-body"><h3>{{viewPostcontect}}
  </h3></div>
</div>
<div class="col-lg-5">
  <button class="btn-success" (click)="showPopup4()"> {{'list_likes'|translate}}</button>
</div>
<br>
<button class="btn btn-blog btn-success pull-left marginBottom10" (click)="addLike()" ><span class="glyphicon glyphicon-thumbs-up"></span>{{total_likes}}</button>
<div class="col-lg-5">
<button class="btn btn-blog btn-success pull-left marginBottom10" (click)="showcomment()">{{'add_comment'|translate}}</button>
</div>
  <br>
<br>
  <div id="inputAccessLabel">


<div *ngIf="this.addComment">
<div class="col-lg-6">
  <div class="input-group">
    <input type="text" class="form-control" name="commentText" [(ngModel)]="commentText" placeholder="Please Enter Your Comment">
    <span class="input-group-btn">
        <button class="btn btn-success" type="button" (click)="commentAdd()">{{'post'|translate}}!</button>
      </span>
  </div>
</div>
</div>
  </div>
<br>
<br>
<br>
<br>
  <div *ngIf="vComments.comtxt!==null">
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-8 col-lg-8 col-sm-12">
  <div *ngFor="let viewCom of commentsShow; let i =index">
    <ul class="list-group">
      <li class="list-group-item">
        <h4>{{viewCom.comby}}:</h4><h6>{{viewCom.comtxt}}</h6> <span class="label label-success pull-right">{{viewCom.comon | date:'medium'}}</span>
      </li>
    </ul>
  </div>

    <div *ngIf="count < vComments.length">
      <li class="showmore list-group-item">
        <button class="btn btn-success show-more" (click)="viewComments(0)">
          Show More
        </button>
      </li>
    </div>
    <div *ngIf="count >= vComments.length">
      <li class="showmore list-group-item">
        <button class="btn btn-success show-more" (click)="viewComments(1) [disabled]=count==vComments.length">
          Show Less
        </button>
      </li>
    </div>
  </div>
</div>
</div>
<!---------------------------------------------------------------------------------------------->
<popup #popup4 (confirmClick)="close()" >
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-6" *ngFor="let clike of post_likes ">
        <ul class="list-group">
          <li class="list-group-item">
            <h6><span class="glyphicon glyphicon-user">:</span>{{clike.likeby}}</h6>
            <span class=" label label-success pull-right">{{clike.likeon |date:'medium'}}</span>
          </li>
        </ul>

      </div>
    </div>
  </form>
</popup>
