<h1>
  Welcome Mr.{{this.c | uppercase}}
</h1>
<div class="container">
  <div id="blog" class="row">
    <div class="col-sm-2 paddingTop20">
      <nav class="nav-sidebar">
        <ul class="nav">
          <br>
          <li><button class="btn btn-success" (click)="showPopup1()" >Compose News Feed</button></li>
          <li class="nav-divider"></li>
          <li><button class="btn btn-success" (click)="logout()"><i class="glyphicon glyphicon-off"></i> Sign Out</button></li>
        </ul>
      </nav>
      <!-- <div><h2 class="add"></h2></div>-->
    </div>
    <div class="col-md-10 blogShort pull-right" *ngFor="let i of data">
      <div class="row">
        <h5>
          <h2>{{i.postBy}}</h2>
          Posted
        </h5>
      </div>
      <h3>{{i.title}}</h3>
      <article>
        <p>{{i.post}}
        </p>
      </article>
      <button class="btn btn-blog pull-right marginBottom10" (click)="viewpost(i.title)">VIEW THIS POST</button>

    </div>
  </div>
</div>
<!-----------------------------------------Adding a Post----------------------------------------------->
<popup #popup1 (confirmClick)="addPost()">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-8">
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" name="tit" [(ngModel)]="tit" id="tit">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="form-group">
          <label >Post:</label>
          <textarea class="form-control" rows="5" name="post" [(ngModel)]="post" id="post"></textarea>
        </div>
      </div>
    </div>
  </form>
</popup>
<!------------------------------Error-------------------------------------->
<popup #popup4 >
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-6">
        <h4>Can't Share an Empty Post</h4>
      </div>
    </div>
  </form>
</popup>
